@import "tailwindcss";

body{
  background-color: rgb(240,253,244);
}

.swiper-button-next:after,
.swiper-button-prev:after
  {
color: #a8dadc;
}

html::-webkit-scrollbar{
  display: none;
}
html{
  scrollbar-width: none;
}